<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" >
    <title>REST API</title>
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
<div class="container pt-3" id="array-rendering" v-cloak>
    <h1>REST API</h1>
    <div class="form-group mr-5">
        <input v-model="search" class="form-control" placeholder="Type ID to filter the list">
    </div>
    <hr>
    <div v-if="loading">
        <loader />
    </div>
    <div v-else-if="indexList.length">
        <ul class="demo">
            <li v-for="item in indexList_f" @click="changeSearch(item)">{{item}}</li>
        </ul>
    </div>
    <p v-else>Нет записей</p>

    <hr>
    <div v-for="item in data" :key="id">
        <h2>Data for {{item.id}}</h2>
        <hr>
        <div v-for="(value, name) in item">
            <p>{{name}} : {{value}}</p>
        </div>
    </div>
</div>

<script type="module" src="script.js"></script>
</body>
</html>